@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f9fafb;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.thought {
  display: flex;
  background-color: #067168;
  padding: 12px;
  border-radius: 30px;
  min-width: 40px;
  max-width: 280px;
  min-height: 40px;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 3;
}

.thought:before,
.thought:after {
  content: "";
  background-color: #067168;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: -1;
}

.thought:before {
  width: 44px;
  height: 44px;
  top: -12px;
  left: 28px;
  box-shadow: -50px 30px 0 -12px #067168;
  z-index: 2;
}

.thought:after {
  bottom: -10px;
  right: 26px;
  width: 30px;
  height: 30px;
  box-shadow: 40px -34px 0 0 #067168,
  -28px -6px 0 -2px #067168,
  -24px 17px 0 -6px #067168,
  -5px 25px 0 -10px #067168;
  z-index: 2;
}

.thought p {
  z-index: 3;
  position: relative;
}

.thought p svg {
  position: absolute;
  width: 56px;
  height: 96px;
  opacity: .2;
  z-index: 1;
  fill: black;
  right: 0;
  bottom: 0;
}

.thought p span {
  z-index: 4;
  position: relative;
  color: white;
}

.ql-toolbar.ql-snow {
  border-bottom: 1px solid #8080801f !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.ql-container {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ql-container .ql-editor {
  min-height: 200px;
}

.ql-editor.ql-blank::before {
  opacity: .7;
}

#google-login-icon {
  display: none;
}

.animated-image {
  animation: slide-zoom 60s ease-in-out infinite;
}

@keyframes slide-zoom {
  0%, 100% {
    transform: translateX(0) scale(1.2);
  }
  50% {
    transform: translateX(8%) scale(1.2);
  }
}

.onboarding-stepper .Mui-active svg {
  color: white;
}

.onboarding-stepper .Mui-active .MuiStepIcon-text {
  fill: black;
}


.onboarding-stepper .Mui-completed svg {
  color: white;
}

.color-chooser > div:nth-child(1) {
  transform: translateX(-1.1rem) translateY(-0.6rem);
}

.color-chooser > div:nth-child(2) {
  transform: translateX(-0.3rem) translateY(-1.1rem);
}

.color-chooser > div:nth-child(3) {
  transform: translateX(0.4rem) translateY(-1.2rem);
}

.color-chooser > div:nth-child(4) {
  transform: translateX(0.7rem) translateY(-0.95rem);
}

.color-chooser > div:nth-child(5) {
  transform:translateX(0.6rem) translateY(-0.7rem);
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 9;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Fade-in animation */
.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

/* Delayed fade-in */
.fade-in-delayed {
  animation: fadeIn 1s ease-in-out 0.5s forwards;
}

/* Slide-in animation */
.slide-in {
  animation: slideIn 0.5s ease-in-out forwards;
}

/* Welcome screen fade-out (if needed) */
.welcome-screen {
  animation: fadeIn 1s ease-in-out 0.5s forwards;
}
